@model SolicitaCompra.Models.Fornecedores

@{
    ViewData["Title"] = "Editar";
}

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
<br />

<div class="row">
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div hidden class="form-group col-md">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
            </div>

            <div class="card">
                <div class="card-header">Informações do Fornecedor</div>

                <div class="card-body row">
                    <div class="form-group col-md">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md">
                        <label asp-for="Cnpj" class="control-label"></label>
                        <input asp-for="Cnpj" class="form-control" />
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                    </div>
                </div>


                <div class="card-body row">
                    <div class="form-group col-md">
                        <label asp-for="IncricaoEstadual" class="control-label"></label>
                        <input asp-for="IncricaoEstadual" class="form-control" />
                        <span asp-validation-for="IncricaoEstadual" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md">
                        <label asp-for="IncricaoMunicipal" class="control-label"></label>
                        <input asp-for="IncricaoMunicipal" class="form-control" />
                        <span asp-validation-for="IncricaoMunicipal" class="text-danger"></span>
                    </div>
                   
                </div>
            </div>



            <div class="card">

                <div class="card-header">Endereço</div>

                <div class="card-body row">
                    <label asp-for="Cep" class="control-label"></label>
                    <input asp-for="Cep" class="form-control" />
                    <span asp-validation-for="Cep" class="text-danger"></span>


                    <div class="form-group col-md">
                        <label asp-for="Cidade" class="control-label"></label>
                        <input asp-for="Cidade" class="form-control" />
                        <span asp-validation-for="Cidade" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md">
                        <label asp-for="Bairro" class="control-label"></label>
                        <input asp-for="Bairro" class="form-control" />
                        <span asp-validation-for="Bairro" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-body row">


                    <div class="form-group col-md">
                        <label asp-for="Estado" class="control-label"></label>
                        <input asp-for="Estado" class="form-control" />
                        <span asp-validation-for="Estado" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md">
                        <label asp-for="Numero" class="control-label"></label>
                        <input asp-for="Numero" class="form-control" />
                        <span asp-validation-for="Numero" class="text-danger"></span>
                    </div>

                    <div class="form-group col-md">
                        <label asp-for="Rua" class="control-label"></label>
                        <input asp-for="Rua" class="form-control" />
                        <span asp-validation-for="Rua" class="text-danger"></span>
                    </div>
                </div>

                <div class="card-body row">
                    <div class="form-group col-md">
                        <label asp-for="Complemento" class="control-label"></label>
                        <input asp-for="Complemento" class="form-control" />
                        <span asp-validation-for="Complemento" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Alterar" class="btn btn-success" />
            </div>
        </form>
    </div>


</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
